body {
    background-color: rgb(122, 138, 145);
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
}

#header {
    color: red;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#instruction-panel {
    background-color: yellow;
}

#megawatt-panel {
    background-color: rgb(24, 15, 0);
    color: tomato;
}

.card {
    border-style: groove;
    border-width: 6px;
}